# Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sb

# Reading Data

In [2]:
data=pd.read_excel("D:\Tonyy\project\TRAIN.xlsx")

In [3]:
data.head()

,Airline,Date,Departure Station,Arrival Station,Route Map,Departure Time,Arrival Time,Journey Time,Stops,Extra Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [4]:
data.info() #To if data contains NAN values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9000 entries, 0 to 8999
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Airline            9000 non-null   object
 1   Date               9000 non-null   object
 2   Departure Station  9000 non-null   object
 3   Arrival Station    9000 non-null   object
 4   Route Map          9000 non-null   object
 5   Departure Time     9000 non-null   object
 6   Arrival Time       9000 non-null   object
 7   Journey Time       9000 non-null   object
 8   Stops              9000 non-null   object
 9   Extra Info         9000 non-null   object
 10  Price              9000 non-null   int64
dtypes: int64(1), object(10)
memory usage: 773.6+ KB

In [5]:
data.describe()

              Price
count   9000.000000
mean    9087.764333
std     4605.498942
min     1759.000000
25%     5228.000000
50%     8369.000000
75%    12373.000000
max    79512.000000

In [6]:
data['Airline'].nunique()

12

In [7]:
out=data['Price']

In [8]:
data["Arrival Time"].nunique()

1236

In [9]:
data[data["Stops"]=='non-stop']

,Airline,Date,Departure Station,Arrival Station,Route Map,Departure Time,Arrival Time,Journey Time,Stops,Extra Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
5,SpiceJet,24/06/2019,Kolkata,Banglore,CCU → BLR,09:00,11:25,2h 25m,non-stop,No info,3873
11,IndiGo,18/04/2019,Kolkata,Banglore,CCU → BLR,20:20,22:55,2h 35m,non-stop,No info,4174
12,Air India,24/06/2019,Chennai,Kolkata,MAA → CCU,11:40,13:55,2h 15m,non-stop,No info,4667
14,IndiGo,24/04/2019,Kolkata,Banglore,CCU → BLR,17:15,19:50,2h 35m,non-stop,No info,4804
...,...,...,...,...,...,...,...,...,...,...,...
8991,Jet Airways,6/06/2019,Banglore,Delhi,BLR → DEL,07:10,10:10,3h,non-stop,No info,8016
8994,IndiGo,3/06/2019,Kolkata,Banglore,CCU → BLR,11:30,14:05,2h 35m,non-stop,No info,4804
8996,Air India,12/05/2019,Mumbai,Hyderabad,BOM → HYD,06:20,07:40,1h 20m,non-stop,No info,3100
8997,Jet Airways,15/03/2019,Mumbai,Hyderabad,BOM → HYD,19:35,21:05,1h 30m,non-stop,In-flight meal not included,2759
8999,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648

In [10]:
lst=[]
for i in data['Stops']:
    l=i.split(' ')[0]
    lst.append(l)

In [11]:
lst1=[0 if i=='non-stop' else int(i) for i in lst]

In [12]:
data['stops']=lst1

In [13]:
data=data.drop('Stops',1)

In [14]:
data.head()

,Airline,Date,Departure Station,Arrival Station,Route Map,Departure Time,Arrival Time,Journey Time,Extra Info,Price,stops
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,No info,3897,0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,No info,7662,2
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,No info,13882,2
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,No info,6218,1
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,No info,13302,1

In [15]:
data["Date"]=pd.to_datetime(data['Date'])
data['Month']=data['Date'].dt.month

In [16]:
data['Day']=data['Date'].dt.day

In [17]:
data['Year']=data['Date'].dt.year
data.head()

,Airline,Date,Departure Station,Arrival Station,Route Map,Departure Time,Arrival Time,Journey Time,Extra Info,Price,stops,Month,Day,Year
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,No info,3897,0,3,24,2019
1,Air India,2019-01-05,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,No info,7662,2,1,5,2019
2,Jet Airways,2019-09-06,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,No info,13882,2,9,6,2019
3,IndiGo,2019-12-05,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,No info,6218,1,12,5,2019
4,IndiGo,2019-01-03,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,No info,13302,1,1,3,2019

In [18]:
data=data.drop(['Date',"Year"],1)

In [19]:
data.head()

,Airline,Departure Station,Arrival Station,Route Map,Departure Time,Arrival Time,Journey Time,Extra Info,Price,stops,Month,Day
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,No info,3897,0,3,24
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,No info,7662,2,1,5
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,No info,13882,2,9,6
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,No info,6218,1,12,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,No info,13302,1,1,3

In [20]:
lst=[]
for i in data['Journey Time']:
    l=i.split(' ')
    h=l[0].split('h')[0]
    hr=int(h[0])
    if(len(l)==2):
        m=l[1].split('m')
        mi=int(m[0])
    else:
        mi=0
    t=round(((hr*60)+mi)/60,2)
    lst.append(t)

In [21]:
data['Journey_Time']=lst
data.head()

,Airline,Departure Station,Arrival Station,Route Map,Departure Time,Arrival Time,Journey Time,Extra Info,Price,stops,Month,Day,Journey_Time
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,No info,3897,0,3,24,2.83
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,No info,7662,2,1,5,7.42
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,No info,13882,2,9,6,1.00
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,No info,6218,1,12,5,5.42
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,No info,13302,1,1,3,4.75

In [22]:
data=data.drop('Journey Time',1)

In [23]:
data.head()

,Airline,Departure Station,Arrival Station,Route Map,Departure Time,Arrival Time,Extra Info,Price,stops,Month,Day,Journey_Time
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,No info,3897,0,3,24,2.83
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,No info,7662,2,1,5,7.42
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,No info,13882,2,9,6,1.00
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,No info,6218,1,12,5,5.42
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,No info,13302,1,1,3,4.75

In [24]:
lst=[]
for i in data['Arrival Time']:
    l=i.split(' ')[0]
    lst.append(l)

In [25]:
data["Arrival_Time"]=lst

In [26]:
data=data.drop('Arrival Time',1)

In [27]:
data=data.drop('Route Map',1)

In [28]:
data.head()

,Airline,Departure Station,Arrival Station,Departure Time,Extra Info,Price,stops,Month,Day,Journey_Time,Arrival_Time
0,IndiGo,Banglore,New Delhi,22:20,No info,3897,0,3,24,2.83,01:10
1,Air India,Kolkata,Banglore,05:50,No info,7662,2,1,5,7.42,13:15
2,Jet Airways,Delhi,Cochin,09:25,No info,13882,2,9,6,1.00,04:25
3,IndiGo,Kolkata,Banglore,18:05,No info,6218,1,12,5,5.42,23:30
4,IndiGo,Banglore,New Delhi,16:50,No info,13302,1,1,3,4.75,21:35

In [29]:
inp=data.drop('Price',1)

In [30]:
dum=pd.get_dummies(inp) #Data Dummies

In [31]:
dum.dtypes

stops                   int64
Month                   int64
Day                     int64
Journey_Time          float64
Airline_Air Asia        uint8
                       ...
Arrival_Time_23:35      uint8
Arrival_Time_23:40      uint8
Arrival_Time_23:45      uint8
Arrival_Time_23:50      uint8
Arrival_Time_23:55      uint8
Length: 477, dtype: object

# Splitting our data to Test data and Train data

In [32]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(dum,out,test_size=0.3,random_state=48)

# Ridge

In [33]:
from sklearn.linear_model import Ridge
mol_rid=Ridge(alpha=0.5,normalize=True)
mol_rid.fit(xtrain,ytrain)
ypred=mol_rid.predict(xtest)

In [34]:
from sklearn.metrics import r2_score,mean_squared_error
r2=r2_score(ytest,ypred)
mse=mean_squared_error(ytest,ypred)
rmse=np.sqrt(mse)
print(r2)
print(mse)
print(rmse)

0.6946381747836716
6781351.593614327
2604.10283852507

In [35]:
coef=mol_rid.coef_
coef

array([ 1.24100080e+03, -1.91466883e+01, -4.47797731e+01,  4.04815364e+01,
       -1.46687426e+03, -1.34643792e+02, -1.22044273e+03, -1.35226541e+03,
        1.57521112e+03,  2.45438720e+04,  5.10230168e+02,  6.92890787e+02,
       -1.49987569e+03, -2.99830805e+03, -3.33779673e+02,  1.07794765e+03,
       -2.97533543e+01, -6.01669882e+02,  2.77416956e+02,  5.30665907e+00,
       -7.20247535e+02,  5.30665907e+00,  2.77416956e+02, -1.04951240e+03,
       -7.20247535e+02, -6.01669882e+02,  1.35506227e+03,  5.85978365e+03,
       -8.42018708e+02, -2.44390679e+02, -9.99194647e+02, -7.44223154e+02,
       -7.77889711e+02, -1.14140407e+03, -1.26995064e+03, -7.97360106e+02,
        1.43172205e+03, -6.72649032e+02,  1.76846858e+02, -1.46226694e+03,
       -2.67676385e+03, -6.68766148e+01, -8.72570605e+01, -9.86632928e+02,
       -2.84563688e+02,  1.12225063e+03, -1.40599925e+03, -1.06554699e+03,
       -6.49868706e+02, -2.17901361e+02, -1.35316802e+03, -9.49088549e+02,
        4.38944354e+02,  1.62296453e+02, -4.37626689e+02,  4.52979350e+02,
        9.22648043e+02, -1.35017055e+02, -3.53398565e+00, -4.93730315e+02,
       -9.92672105e+02, -1.16517973e+03, -2.07956690e+03, -1.33519150e+03,
       -4.92903821e+02,  9.32458578e+02, -2.49710931e+03, -4.73252779e+02,
       -2.92607164e+02,  6.15843967e+01, -1.69360520e+03,  3.82808850e+02,
        3.97116640e+02, -4.72860591e+02, -1.96452466e+03,  0.00000000e+00,
       -1.56191696e+03, -1.28501735e+02, -9.48857547e+02, -8.49564360e+02,
       -5.09312010e+02,  1.26009930e+03, -1.10668873e+03, -1.69407586e+03,
       -4.34991807e+02,  1.17528956e+03, -6.68904723e+02, -9.47719602e+02,
        5.17678471e+03, -6.55038829e+02,  2.62723008e+03,  7.89487853e+02,
        3.53135686e+02,  2.29278686e+02, -7.97648505e+02,  1.74763409e+03,
        2.46177650e+02,  1.68166492e+02,  2.38655766e+02,  7.19424434e+01,
       -9.66764007e+02,  7.47635763e+02,  1.74547671e+03,  5.91168793e+02,
       -9.31999528e+01, -4.15508958e+02, -8.55659599e+02, -3.67698615e+03,
       -6.01508324e+02, -1.43749903e+03, -8.13172973e+02,  8.71596264e+02,
       -8.77560333e+02,  8.48084145e+01, -4.43236320e+02,  1.36111654e+03,
       -6.58942393e+02, -1.37333271e+03,  8.09577788e+02,  3.43466882e+02,
        3.97944504e+02,  2.35207429e+02, -1.10543051e+03, -2.13529398e+02,
       -4.43633064e+02, -3.28827220e+03,  0.00000000e+00,  5.31916497e+02,
        1.26905194e+03, -1.23663735e+03,  2.60135817e+03, -1.13879274e+02,
        1.47018222e+03,  4.98633777e+02, -3.64258590e+02,  8.25053824e+01,
       -5.60446795e+02,  1.30470125e+02,  8.55059277e+02,  3.62193584e+02,
       -9.31670465e+02,  2.07797075e+03,  1.97430228e+02,  9.24508273e+02,
        5.86873451e+02,  1.27546526e+03,  1.19413239e+03, -1.34160072e+03,
       -4.35609307e+02, -1.39243091e+02,  1.48786171e+03, -4.18108489e+02,
        8.61640494e+01, -1.00985087e+03, -1.27897958e+03,  3.05999142e+02,
        2.09123963e+03, -8.37770734e+02, -1.37431226e+03, -4.05784500e+02,
        0.00000000e+00, -9.92140649e+02, -2.02663963e+03, -3.27510199e+01,
       -1.39225951e+03, -1.65399405e+03,  4.55879722e+02,  2.22192565e+02,
       -4.97372120e+02, -2.09478003e+03,  2.30172844e+03,  6.41704029e+02,
       -2.47756443e+02, -5.68183356e+02,  4.75540444e+02,  7.09745078e+02,
        1.61623509e+02, -1.89985813e+01, -9.23255438e+02, -1.15636175e+03,
       -7.45536217e+02, -4.14036080e+02,  9.68538837e+02,  4.09564064e+02,
       -1.01374845e+03, -1.63361764e+03, -1.27956344e+02,  4.55533628e+03,
       -1.07384396e+03, -1.33850193e+03, -6.49712536e+02,  7.77664176e+02,
        5.58999109e+02, -2.32471209e+02,  1.85787985e+03, -5.39378737e+02,
        6.37543367e+03,  8.83630228e+02,  2.76472350e+02, -8.71869100e+02,
       -8.75577546e+02,  6.47293191e+02,  7.18828874e+02, -2.44613390e+03,
       -4.87950712e+02, -1.57524505e+03, -4.82629652e+01,  5.92582199e+02,
       -2.35830796e+02, -6.93961472e+02,  7.79693194e+02, -3.67373416e+02,
        2.17883327e+03,  1.64506699e+03, -5.60311376e+02,  1.45031730e+02,
       -5.88078183e+02,  3.51009854e+02, -1.89779037e+03, -7.85290449e+02,
        7.77059443e+02,  9.67718728e+02, -1.12902120e+03, -1.20267185e+03,
        8.11210291e+02, -6.78675256e+02, -1.41327928e+03, -7.86952876e+01,
        2.94846512e+02,  1.54756041e+02,  1.06951297e+03,  3.06212438e+03,
        3.14269763e+01, -8.19948475e+01, -8.99840451e+02, -9.23371287e+02,
       -5.61862420e+02,  1.25441247e+03, -7.20425305e+02, -1.14575758e+03,
        1.30236446e+03,  9.60648217e+01,  5.78340953e+02,  7.26433145e+02,
       -1.00072096e+03, -4.66581281e+02, -2.36319917e+02,  6.97639709e+03,
        8.07955103e+03,  1.13979154e+04,  2.56746682e+03, -1.06565402e+03,
       -2.80719802e+02, -3.67779038e+02,  8.80371363e+02,  3.45811260e+03,
       -1.21556610e+03, -6.67242577e+02, -6.98624726e+02,  8.89619151e+00,
       -8.99737168e+01,  4.22220592e+02,  6.20217618e+03, -1.07744075e+03,
        9.05551705e+03, -9.23371287e+02, -6.29188700e+02, -7.32979395e+02,
       -2.24423744e+02, -8.67614659e+02, -4.54048302e+02,  2.20443687e+03,
       -7.24979909e+02, -1.00072096e+03, -2.12533081e+02, -5.52862381e+02,
       -2.36319917e+02, -1.14140407e+03, -8.42018708e+02, -1.02790676e+03,
       -2.11863969e+03, -1.43891477e+03, -6.72649032e+02, -1.72799181e+03,
       -7.44223154e+02, -6.79089147e+02,  7.77571558e+02,  1.21728022e+03,
       -8.04946785e+01,  9.99876237e+02,  3.83236477e+03,  1.86758000e+03,
        6.21369339e+02,  2.61760894e+01, -1.10680123e+03, -4.75727425e+02,
       -4.52539195e+01, -1.75979013e+03, -9.65525787e+02,  4.77228743e+02,
        1.84363910e+02, -1.37918988e+02, -4.51856598e+02, -1.13765270e+03,
        1.74691176e+03,  7.73208657e+02, -1.79536018e+03, -6.92774346e+02,
       -7.71656395e+02, -8.84621464e+02, -4.20315519e+02, -6.94990435e+02,
        8.24106652e+02,  1.71163197e+03, -1.74707484e+02,  2.24157503e+02,
        1.23806715e+03, -2.06411690e+01, -1.09458528e+02,  5.43644871e+02,
       -2.01362908e+02, -1.19149339e+03,  1.11411048e+03, -2.11485594e+03,
        1.59540561e+03,  2.36795226e+02, -4.61273166e+02, -5.08158127e+02,
       -1.75079837e+03,  1.41052151e+03, -1.21274175e+03,  1.13123216e+02,
       -4.59164192e+02,  4.61538925e+02,  1.05287467e+03,  9.36920192e+02,
       -1.89292960e+03,  3.54718574e+02, -1.98292202e+03, -4.27919275e+02,
       -1.04042362e+03, -8.61248439e+02, -1.21659203e+02,  3.45700623e+03,
        2.98086045e+02, -1.59533508e+02, -1.70940297e+03, -3.18409309e+02,
       -9.86390803e+02,  1.54505188e+03,  4.93899763e+02,  6.86702927e+02,
       -1.84633269e+03, -9.55754278e+02, -1.18629359e+03, -6.62442692e+02,
       -9.05189295e+02, -7.73896332e+02,  0.00000000e+00, -7.18341219e+02,
        1.13185613e+03,  2.76478510e+02, -1.25607577e+03, -1.25586092e+03,
       -1.10832870e+03,  1.75291107e+03, -6.76139332e+02, -8.43882285e+02,
       -1.01108344e+03, -1.25697857e+03, -2.64270247e+02, -1.84555084e+03,
        5.50832620e+02, -1.41322084e+03, -1.32102305e+03, -4.45005693e+02,
       -1.23542309e+03,  1.79876179e+03, -7.69396877e+02,  7.22544770e+02,
        8.35083743e+02,  1.39960670e+03, -2.90519788e+03, -2.39867834e+03,
        1.59365481e+03, -7.43663700e+02, -4.77053560e+02, -7.38461309e+02,
        1.96008125e+03, -1.06059915e+03, -7.35491091e+02,  9.56895825e+02,
        5.66985465e+02, -1.98884459e+03, -5.38622198e+02,  8.58196080e+03,
       -1.11588537e+03, -1.15317652e+02,  6.53077385e+03, -1.68302989e+02,
       -3.41291102e+02, -2.31087103e+03, -5.08074801e+02, -8.50298255e+02,
       -4.51549740e+02, -1.39358932e+03, -9.05670914e+02, -2.00036631e+02,
       -1.15333418e+03, -1.37038302e+03,  1.19237594e+03, -8.09678828e+02,
        2.87052277e+02,  7.06893896e+02, -1.99537653e+03,  1.05035692e+03,
       -1.74759832e+02, -3.89690277e+02,  2.12867602e+03,  8.77853153e+02,
        7.36583653e+02,  8.52310522e+02,  2.04690602e+03,  1.18881380e+02,
        3.33161903e+03, -2.06687281e+02, -9.46736144e+02, -4.72006783e+02,
        7.28776881e+02,  1.97363638e+02, -2.22517094e+02, -8.55875815e+02,
        4.47836064e+02,  0.00000000e+00,  2.38683673e+03,  2.87812694e+02,
        7.23374715e+02, -6.51323370e+02, -1.18083146e+03,  9.83796443e+02,
       -3.46327983e+02, -9.60786014e+02, -2.30293118e+02, -2.92140178e+02,
       -1.16712644e+03,  1.74084139e+03, -1.10698131e+02, -4.41263980e+02,
       -4.11986744e+02, -1.88799280e+03, -8.76637766e+02, -7.18568140e+02,
        2.72363135e+02, -1.04547023e+03,  6.96110949e+02,  9.17927898e+00,
       -8.44953808e+02, -4.01172616e+02, -9.10813574e+02, -1.02180434e+03,
        6.58184990e+02, -2.98384523e+00, -7.39581570e+00, -9.61276000e+02,
       -3.65933040e+02, -3.37422252e+02, -1.04272187e+03, -1.55059825e+03,
        5.56372836e+02, -1.62395193e+03,  5.42668472e+02, -1.21971370e+03,
        7.84872987e+02, -2.15256844e+03, -7.33209749e+02, -5.62373140e+01,
       -2.90292347e+02])

In [36]:
coef=pd.DataFrame(coef)
coef['features']=xtrain.columns
coef.head()

             0          features
0  1241.000796             stops
1   -19.146688             Month
2   -44.779773               Day
3    40.481536      Journey_Time
4 -1466.874261  Airline_Air Asia

# Applying DescisionTree Regressor

In [37]:
from sklearn.tree import DecisionTreeRegressor
dtree_mod=DecisionTreeRegressor()
dtree_mod.fit(xtrain,ytrain)

DecisionTreeRegressor()

In [38]:
ypred=dtree_mod.predict(xtest)
ypred

array([ 4775., 14151.,  6144., ...,  7832.,  3419.,  4174.])

In [39]:
from sklearn.metrics import mean_squared_error
mse=mean_squared_error(ytest,ypred)
mse

5764374.308055555

In [40]:
rmse=np.sqrt(mse)

In [41]:
rmse #RMSE for Decision Tree

2400.911141224422

# Applying Random Forest Regressor

In [42]:
from sklearn.ensemble import RandomForestRegressor
rand_mod=RandomForestRegressor()

In [43]:
rand_mod.fit(xtrain,ytrain)

RandomForestRegressor()

In [44]:
rf_ypred=rand_mod.predict(xtest)

In [45]:
rf_mse=mean_squared_error(rf_ypred,ytest)

In [46]:
rf_rmse=np.sqrt(rf_mse)

In [47]:
rf_rmse #RMSE for random forset

1756.3450890824547

# Applying Adaboost Regressor

In [48]:
from sklearn.ensemble import AdaBoostRegressor
ada_mod=AdaBoostRegressor()
ada_mod.fit(xtrain,ytrain)

AdaBoostRegressor()

In [49]:
ada_ypred=ada_mod.predict(xtest)

In [50]:
ada_mse=mean_squared_error(ada_ypred,ytest)

In [51]:
ada_rmse=np.sqrt(ada_mse)

In [52]:
ada_rmse #RMSE for adaboost

3653.4691505747537